<%- layout('/layouts/boilerplate') -%>


    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card mx-auto" style="width: 20rem;">
                <img src="<%= product.image %>" class="card-img-top" style="height: 200px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.title %></h5>
                  <h5 class="card-title">₹ <%= product.price %></h5>
                  <p class="card-text"><%= product.description %></p>
                  <a href="#" class="btn btn-sm btn-primary">Buy Now</a>
                  <a href="#" class="btn btn-sm btn-success">Add to Cart</a>
                  <a href="/products/<%= product._id %>/edit" class="btn btn-sm btn-secondary">Edit</a>
                  <form class="d-inline" action="/products/<%= product._id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="display-5">Reviews</h1>
            <form  class="w-50"  action="/products/<%= product._id %>/reviews" method="post">
                <input type="range" name="rating" id="" min="0" max="5">
                <textarea class="form-control" name="comment" id=""cols="15" rows="4" placeholder="Leave your comments here ..." >

                </textarea>
                <button class="btn btn-sm btn-primary mt-2">save</button>
            
            </form>

      <div>
            <% for( let review of product.reviews) { %>
                <div class="card w-50 my-2">
                <div class="card-body">
                    <p class="card-text"><%= review.comment %></p>
                    <form class="d-inline" action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                  </div>
                </div>
            <% } %>
    </div>
    </div>
    </div>

